.card {
  --font-sm: clamp(0.75rem, 0.16vw + 0.71rem, 0.84rem);
  --font-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-md: clamp(1.33rem, 0.63vw + 1.18rem, 1.68rem);
  --font-xl: clamp(2.37rem, 1.8vw + 1.92rem, 3.36rem);
  --font-xxl: clamp(3.16rem, 2.89vw + 2.43rem, 4.75rem);
  font-size: var(--font-base, 1rem);
  font-weight: 500;
  padding: 1rem;
  max-inline-size: 400px;
  border-radius: 8px;
  align-self: start;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  overflow: clip;
  margin-bottom: 1rem;
}

.card header {
  color: #000e;
  display: grid;
  margin: -0.7rem -0.7rem 0.5rem;
  border-radius: 3px;
  overflow: clip;

  > * {
    grid-area: 1 / 1;
  }

  .header-content {
    padding: 1rem 1.2rem 0.5rem;
    color: #fff;
    background: rgba(3, 3, 3, 0.3);
  }
}

.header-content > div {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-sm);
  font-weight: 500;
  color: #fff;
  margin-top: 0.5rem;
}

.header-content > div::before {
  content: " - ";
  margin-inline: 0.25rem;
}

.header-content > div:not(:has(:nth-child(2)))::before {
  content: none;
}

.header-content > div > :first-child {
  order: -1;
}

.card h2 {
  line-height: 1.125;
  font-size: var(--font-base);

  & span:last-of-type {
    font-weight: 400;
  }
}

.card .status {
  font-size: 0.7rem;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.25rem 0.3rem;
  background: oklch(var(--status) / 50%);
  border: 1px solid oklch(var(--status));
  place-self: start end;
  margin: 0.25rem;
  border-radius: 2px;
  line-height: 1;
}

.card h3,
.card dt {
  font-size: var(--font-sm);
  font-weight: 700;
}

.card section {
  display: flex;
  gap: 0.5rem;
}

.card > * + * {
  margin-top: 1rem;
}

.actions {
  display: flex;
  gap: 4px;
  margin: 1rem -1rem -1rem;
  padding: 0.25rem;
  justify-content: space-around;
}

.actions button {
  all: unset;
  cursor: pointer;
  font-size: 1rem;
  background: hsl(var(--theme-color));
  color: #fff;
  padding: 0.5rem;
  flex: 1;
  min-width: 0;
  text-align: center;
  border-radius: 3px;

  &:hover,
  &:focus-visible {
    background: #0013674d;
  }

  &:first-of-type {
    order: -1;
  }
}

p,
.ingredient-list,
.allergens {
  font-size: var(--font-sm);
}

.allergens {
  font-weight: 700;
}
