/* Define a variable for theme color */
:root {
  --theme-color: 210, 50%, 50%;
}

/* General form styles */
form {
  --form-bg: hsl(0 0% 100% / 90%);
  position: relative;
  margin-block: 0 2rem;
  padding: 1rem;
  background: var(--form-bg);
  backdrop-filter: blur(6px);
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem 1rem;
}

.form-group {
  display: grid;
  gap: 5px;
}

/* Label styles */
label,
.legend {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  display: grid;
  align-self: start;
  gap: 2px;
  cursor: pointer;
  font-variation-settings: "wdth" 100;
}

/* Hint styles */
.hint {
  color: hsl(249deg 15% 45%);
  line-height: 1.25;
  font-size: 0.9rem;
  font-weight: 400;
  font-variation-settings: "wdth" 95;
  margin-bottom: 0.5rem;
}

/* Input and textarea styles */
input,
textarea,
select {
  color: #212121;
  box-shadow: 0 0 0 1px #d3d3d3;
  border: 2px solid transparent;
  border: 0;
  background: #f5f5f5;
  padding-block: 8px 10px;
  padding-inline: 12px;
  border-radius: 4px;
  font-size: max(16px, 1rem);
  outline: none;
  caret-color: hsl(302deg 40% 55%);
  resize: none;
  transition: 0.1s background;
  max-width: 20rem;
}

select {
  max-width: 10rem;
}

#serves {
  max-width: 5rem;
}

textarea {
  min-block-size: 7rem;
}

/* Radio button and checkbox styles */
input:is([type="checkbox"], [type="radio"]) {
  block-size: 1.2rem;
  inline-size: 1.2rem;
  margin: 0;
  border-radius: 4px;
  display: grid;
  outline: none;
  transition: 0.1s;
  will-change: background, box-shadow;
}

input[type="radio"] {
  border-radius: 50%;
  box-shadow: inset 0 0 0 0 hsl(var(--theme-color));
}

input[type="checkbox"]::after {
  content: "";
  block-size: 0.45em;
  inline-size: 0.8em;
  border: solid #fff;
  border-width: 0 0 3px 3px;
  place-self: center;
  transform: translateY(-0.05em) rotate(-45deg);
  transition: 0.1s;
  opacity: 0;
}

input[type="checkbox"]:checked::after {
  opacity: 1;
}

/* Button styles */
.btn {
  color: #fff;
  border: none;
  background: hsl(var(--theme-color));
  font-weight: 600;
  padding-block: 8px 10px;
  padding-inline: 12px;
  border-radius: 4px;
  max-width: 10rem;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background: #0013674d;
  }
}

.controls {
  display: flex;
  gap: 5rem;
  margin-top: 1rem;
}

/* input:invalid,
textarea:invalid,
select:invalid {
  border: 2px solid red;
}

.hint {
  display: none;
}

input:invalid + .hint,
textarea:invalid + .hint,
select:invalid + .hint {
  display: block;
} */
